<!-- <div class="">
    <img src="https://images.vexels.com/media/users/3/294732/isolated/preview/db214df819b4b87cec954949d94a0fc3-lindo-icono-de-pastel-de-autoestima.png" alt="" height="30px">
    <div>
        <button color="warn" mat-raised-button>Click me</button>
    </div>
</div> -->


<mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Redial</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      <span>Check voice mail</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button>
  </mat-menu>